<div class="panel panel-primary">
    <div class="panel-heading">
        {{title}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                Filter By:
            </div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="filterProduct"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Filtered By:{{filterProduct}}</h3>
                <h3>Number of product filter On Search:{{(products | mySearch:filterProduct)?.length}}</h3>
            </div>
        </div>

        <div class="table-responsive" >  
            <table class="table" *ngIf="products && products.length">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-success"
                                (click)="toggleImage()">
                                {{showImage ? "Hide Image":"Show Image"}}
                            </button>
                        </th>
                        <th>Product Name</th>
                        <th>Product Code</th>
                        <th>Product Date</th>
                        <th>Price</th>
                        <th>Star Rating</th>
                    </tr>
                </thead>
               
                <tbody>
                    <tr *ngFor="let product of products | mySearch:filterProduct">
                        <td>
                            <img [src]="product.imageUrl" *ngIf="showImage" [style.width.px]="imageWidth"/>
                        </td>
                        <td style="color:blue">
                            <a [routerLink]="['/products', product.productId]"
                                >
                                    {{product.productName | myUpper:"Upper"}}
                            </a>
                        </td>
                        <td>{{product.productCode | myUpper:"Lower"}}</td>
                        <td>{{product.releaseDate}}</td>
                        <td [ngStyle]="{'background-color':product.price<30?'green':'red'}">{{product.price | addValue | currency:"GBP"}}</td>
                        <td><app-star [rating]="product.starRating"
                            (ratingClicked)="onDataRecieve($event)"></app-star></td>
                    </tr>
                </tbody>
               
            </table>
        </div>
    </div>
</div>

<!-- [queryParams]="{name:product.productName, img:product.imageUrl, desc:product.description }"-->